body
  margin: 0
  background:#E5E5E5 !important

header,main,footer
  max-width: 1920px
  margin: 0 auto

header
  background: #FFFFFF


.container
  padding: 0 !important 

.row
  padding-top: 16px

.Sans
  font-family: 'Source Sans Pro' , sans-serif
  font-style: normal
  font-weight: 300
  font-size: 16px
  line-height: 20px
  color: rgba(0, 0, 0, 0.8)

.navbar.navbar-light.light-blue.lighten-4
  display: none
.nav-link1
  display: inline !important
  padding: 5px
  font-family: 'Source Sans Pro' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  color: rgba(0, 0, 0, 0.8)

.namber
  span
    padding-right: 12px
    font-family: 'Commissioner' sans-serif
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.03em
    text-transform: uppercase
    color: rgba(0, 0, 0, 0.5)

  img 
    height: 15px
    border-radius: 0px
    padding-right: 15px

    .egg 
      padding-right: 0px
      padding-left: 25px

.TEH
  padding-bottom: 22px

.MKtehno
  margin-top: 36px

.navigation
  margin-top: 20px  

.navigation-item
  margin-left: 40px
  font-family: 'Commissioner', sans-serif
  font-weight: 500
  font-size: 14px
  line-height: 20px
  letter-spacing: 0.03em
  text-transform: uppercase
  color: rgba(0, 0, 0, 0.75)
  

.ikon
  display: inline
  padding-left: 45px

.img-wrap
  position: relative
  
 
.ovwrap 
  width: 1170px
  position: absolute 
  top: 9em
  left: 23.5em
  bottom: 38em

  h1 
    font-family: 'Commissioner', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 40px
    line-height: 50px
    width: 500px
    letter-spacing: 0.01em
    padding-bottom: 20px

  p 
    font-family: 'Lato', sans-serif
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 25px  
    color: rgba(0, 0, 0, 0.8)
    padding-bottom: 50px

button
  font-family: 'Commissioner' , sans-serif !important
  font-weight: bold
  font-style: normal
  font-size: 13px !important
  line-height: 30px !important
  width: 200px
  height: 45px
  text-align: center
  text-transform: uppercase !important
  letter-spacing: 0.08em
  color: #FFFFFF
  cursor: pointer
  background: #DEC377
  border-radius: 2px !important
  margin: 0 auto
  border: none

.za 
  left: 23em !important
  top: 20em !important
  width: 25px !important

  
.pos
  left: 25em !important
  top: 20em !important
  width: 25px !important

.carousel-control-prev-icon  
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(0, 0, 0, 0.8)' width='5' height='8' viewBox='0 0 5 10'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important

.carousel-control-next-icon
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(0, 0, 0, 0.8)' width='5' height='8' viewBox='0 0 5 10'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important

.cardi
  display: flex
  justify-content: space-between
  z-index: 99999
  margin-top: -68px

.card-card1
  width: 270px
  height: 285px
  background: #FFFFFF
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
  margin-right: 30px
  position: relative

  .cardf-ol
    box-sizing: border-box
    width: 120px
    height: 120px
    border: 1px solid #E0E0E0
    border-radius: 50%
    padding: 9px
    position: absolute
    top: 50px
    left: 75px

    .card-img
      padding-bottom: 25px
      img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.card-wrap
  padding: 195px 20px 40px 20px
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 25px
    text-align: center
    letter-spacing: 0.02em
    color: rgba(0, 0, 0, 0.75)


.card-card2
  width: 270px
  height: 285px
  background: #FFFFFF
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
  display: flex
  margin-right: 30px
  position: relative

  .cardf-olg
    box-sizing: border-box
    width: 120px
    height: 120px
    border: 1px solid #E0E0E0
    border-radius: 50%
    padding: 9px
    position: absolute
    top: 50px
    left: 75px

    .card-imge
      padding-bottom: 25px
      img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)    

.card-wrape
  padding: 195px 20px 40px 20px
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 25px
    text-align: center
    letter-spacing: 0.02em
    color: rgba(0, 0, 0, 0.75)   
    width: 230px

   
.card-card3
  width: 270px
  height: 285px
  background: #FFFFFF
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
  display: flex
  margin-right: 30px
  position: relative

.cardf-olT
  box-sizing: border-box
  width: 120px
  height: 120px
  border: 1px solid #E0E0E0
  border-radius: 50%
  padding: 9px
  position: absolute
  top: 50px
  left: 75px

.card-imgT
  padding-bottom: 25px
  img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)    

.card-wrapT
  padding: 195px 20px 40px 20px
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 25px
    text-align: center
    letter-spacing: 0.02em
    color: rgba(0, 0, 0, 0.75)   
    width: 230px

.card-card4
  width: 270px
  height: 285px
  background: #FFFFFF
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
  position: relative
     
.cardZ-olZ
  box-sizing: border-box
  width: 120px
  height: 120px
  border: 1px solid #E0E0E0
  border-radius: 50%
  padding: 9px
  position: absolute
  top: 50px
  left: 75px

.cardZ-imgZ
  padding-bottom: 25px
  img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)    

.card-wrapZ
  padding: 195px 20px 40px 20px
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 25px
    text-align: center
    letter-spacing: 0.02em
    color: rgba(0, 0, 0, 0.75)   
    width: 230px


.busines
  margin: 0 auto 

.Bus
  margin-top: 100px 
  padding: 0    
  margin-bottom: 100px 
  background: #FFFFFF
  margin-right: 0px !important
  margin-left: 0px !important

.BU   
  margin-right: -25px
  margin-left: 55px !important
  margin-top: 50px

.bussin
  padding: 0 !important

.busS
  font-family: 'Commissioner', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 40px
  letter-spacing: 0.03em
  color: rgba(0, 0, 0, 0.9)
  padding-bottom: 30px

.busS-tex
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 300
  font-size: 15px
  line-height: 25px
  color: rgba(0, 0, 0, 0.8)
  width: 470px
  padding-bottom: 45px
  margin-bottom: 0 
.BUr
  padding-left: 55px !important

.found
  margin-bottom: 35px
  font-family: Commissioner
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 40px
  letter-spacing: 0.03em
  color: rgba(0, 0, 0, 0.9)

.gr-blo
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-auto-rows: minmax(100px, auto)
  grid-gap: 30px
  grid-auto-flow: row 
  padding-bottom: 40px


.detail
  width: 370px
  height: 140px
  background: #FFFFFF  
  display: flex
  justify-content: space-between

.deta  
  border: 1px solid #E0E0E0
  border-radius: 50%
  width: 80px
  height: 80px
  position: relative
  margin-top: 15px
  margin-right: 15px
  margin-bottom: 45px 

.de-im
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.det
  padding-top: 25px
  padding-bottom: 25px  
  padding-left: 40px
.det-wrap
  padding-bottom: 45px
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 30px
  color: rgba(0, 0, 0, 0.9)
  margin: 0

.det-wrapr
  padding-bottom: 20px
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 30px
  color: rgba(0, 0, 0, 0.9)
  margin: 0

.det-wr
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 20px
  letter-spacing: 0.02em
  text-transform: uppercase
  color: rgba(0, 0, 0, 0.5)
  margin: 0

.DEta
  margin-bottom: 100px  

.wrap--a  
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 40px
  letter-spacing: 0.03em
  color: rgba(0, 0, 0, 0.9)

.wrap-D
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 300
  font-size: 15px
  line-height: 25px
  color: rgba(0, 0, 0, 0.8)

.detu-wrap
  padding-bottom: 60px

.zx
  left: -125px !important

.zy  
  right: -125px !important

.zright, .zleft
  width: 30px !important
  height: 30px  !important
  
.imagKar
  margin-bottom: 100px  

.Fon
  background: #FFFFFF
  margin-top: -200px
  padding-bottom: 100px
  .otz 
    padding-top: 200px
    padding-bottom: 25px
    font-family: 'Commissioner' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 28px
    line-height: 40px
    letter-spacing: 0.03em
    color: rgba(0, 0, 0, 0.9)

.Blot
   display: flex
   justify-content: space-between 

.bloc
  width: 570px
  height: 585px
  display: flex


.bloc1
  margin-right: 10px
  margin-left: 5px
  margin-top: 10px
  margin-bottom: 5px
  background: #FFFFFF
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)

.bloc2
  margin-right: 5px
  margin-left: 1px
  margin-top: 10px
  background: #FFFFFF
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)

.der
  padding: 0 !important


.Dwrap
  padding: 20px 50px 25px 50px  
  a
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 600
    font-size: 12px
    line-height: 20px
    letter-spacing: 0.02em
    text-transform: uppercase
    color: rgba(0, 0, 0, 0.5)

.derwwr
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 15px
  line-height: 25px
  color: rgba(0, 0, 0, 0.5)

.derwwra
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: bold
  font-size: 26px
  line-height: 40px
  letter-spacing: 0.01em
  color: #DEC377

.derw-wrapper
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 300
  font-size: 14px
  line-height: 25px
  letter-spacing: 0.01em
  color: rgba(0, 0, 0, 0.8) 

.carousel-indicators li
  width: 10px !important
  height: 10px !important
  background-color: #DEC377 !important
  border-radius: 50% !important


.okaz
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 300
  font-size: 15px
  line-height: 25px
  color: rgba(0, 0, 0, 0.8)


.Blotbut
  margin-top: 30px

.BRT 
  top: 640px !important
  left: 935px !important

.BRTL
  top: 640px !important

.proj 
  margin-left: 100px
  color: #DEC377
  background: #FFFFFF
  border: 2px solid #DEC377

.dr
  padding-top: 89px

.logot
  display: flex
  justify-content: space-between
  padding-top: 40px

.Interes
  padding-top: 80px
  margin-bottom: 100px

.GRinter
  display: grid
  grid-template-columns: repeat(2, 2fr)
  grid-gap: 30px
  grid-template-rows: repeat(1, 100%)

.GRsimple
  background: #FFFFFF
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05)

.GRprava
  background: #FFFFFF
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05)

.GRresult  
  background: #FFFFFF
  margin-top: 30px
  padding: 40px 50px 45px 50px
  display: flex
  justify-content: space-between

.re
  width: 320px
  height: 90px
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 26px
  line-height: 45px
  color: rgba(0, 0, 0, 0.9) 

.prakt
  p
    width: 720px
    height: 100px 
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 25px
    color: rgba(0, 0, 0, 0.8) 

.GRprava
  position: relative

.GRprava-gyt
  width: 70px
  height: 70px
  background: none
  border: 35px solid transparent
  border-top: 35px solid #DEC377
  border-right: 35px solid  #DEC377
  top: 0
  right: 0
  position: absolute

.ob
  padding: 40px 50px 55px 50px
  h4
    font-family: Commissioner
    font-style: normal
    font-weight: normal
    font-size: 26px
    line-height: 45px
    color: rgba(0, 0, 0, 0.9)
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 25px
    color: rgba(0, 0, 0, 0.8)

.imgKart
  margin-bottom: 60px
  img
    width: 100%

.scroll
  h2
    font-family: 'Commissioner' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 28px
    line-height: 40px
    letter-spacing: 0.03em
    color: rgba(0, 0, 0, 0.9)

.SErvscrol
  background: #FFFFFF
  position: relative
  width: 470px
  height: 140px

.regi
  padding: 20px 30px 45px 100px
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 30px
  color: rgba(0, 0, 0, 0.9)
  margin: 0

.regin
  padding-left: 362px
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 20px
  letter-spacing: 0.02em
  text-transform: uppercase
  color: rgba(0, 0, 0, 0.5)

.reginn
  padding-left: 562px
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 20px
  letter-spacing: 0.02em
  text-transform: uppercase
  color: rgba(0, 0, 0, 0.5)

.reginy
  padding-left: 462px
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 20px
  letter-spacing: 0.02em
  text-transform: uppercase
  color: rgba(0, 0, 0, 0.5) 

.regin15
  padding-left: 562px
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 20px
  letter-spacing: 0.02em
  text-transform: uppercase
  color: rgba(0, 0, 0, 0.5) 

.regii
  padding: 20px 30px 15px 100px
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 30px
  color: rgba(0, 0, 0, 0.9)
  margin: 0 

.regin362
  padding-left: 362px
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 20px
  letter-spacing: 0.02em
  text-transform: uppercase
  color: rgba(0, 0, 0, 0.5) 

.re
  h4
    font-family: Commissioner
    font-style: normal
    font-weight: normal
    font-size: 26px
    line-height: 45px
    color: rgba(0, 0, 0, 0.9)

.SErvscroll
  width: 670px
  height: 140px  
  background: #FFFFFF
  position: relative

.corol
  width: 70px
  height: 140px
  position: absolute
  top: 0
  left: 0
  background: rgba(222, 195, 119, 0.4)

.coroll
  width: 70px
  height: 140px
  position: absolute
  top: 0
  left: 0
  background: rgba(222, 195, 119, 0.4)  

.DWQ
  padding-bottom: 30px 

.SErvscr  
  width: 570px
  height: 140px  
  background: #FFFFFF
  position: relative

.DWD
  padding-bottom: 30px 

.corol2
  width: 70px
  height: 140px
  position: absolute
  top: 0
  left: 0
  background: rgba(222, 195, 119, 0.75)

.coroll2
  width: 70px
  height: 140px
  position: absolute
  top: 0
  left: 0
  background: rgba(222, 195, 119, 0.75) 

.SErvscrt
  background: #FFFFFF
  position: relative
  width: 670px
  height: 140px

.SErvscry
  width: 470px
  height: 140px  
  background: #FFFFFF
  position: relative

.corol21
  width: 70px
  height: 140px
  position: absolute
  top: 0
  left: 0
  background: #DEC377

.coroll21
  width: 70px
  height: 140px
  position: absolute
  top: 0
  left: 0
  background: #DEC377  

.DWW
  padding-bottom: 30px

.DWC
  padding-bottom: 30px

.DWt
  padding-bottom: 50px
 

.Yr
  display: flex
  justify-content: space-between 

.Yr-wrap
  p 
    width: 770px
    height: 125px
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 25px
    color: rgba(0, 0, 0, 0.8)

.DAV
  background: #FFFFFF
  padding-top: 64px
  padding-bottom: 105px

.Daaav
  font-family: Commissioner
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 40px
  letter-spacing: 0.03em
  color: rgba(0, 0, 0, 0.9) 
  margin-bottom: 15px

.Daaavs
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 300
  font-size: 15px
  line-height: 25px
  color: rgba(0, 0, 0, 0.8)  

.brok
  color: #DEC377
  display: flex
  width: 440px
  height: 30px
  justify-content: space-between
  margin-bottom: 35px

.brokkrug
  position: relative
  width: 40px
  height: 40px
  left: 0px
  top: 0px
  border: 1px solid rgba(222, 195, 119, 0.4)
  box-sizing: border-box
  border-radius: 50%
 
.brokt
  position: absolute
  width: 10px
  height: 10px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background: #DEC377
  border-radius: 50%

.tert
  width: 360px
  height: 30px
  margin-top: 6px

.tertwap
  margin: 0  
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 600
  font-size: 17px
  line-height: 30px
  letter-spacing: 0.01em
  color: rgba(0, 0, 0, 0.75)

hr 
  width: 100%
  margin-top: 59px !important
  margin-bottom: 60px !important

.advantage
  padding-top: 80px

.advan
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 40px
  letter-spacing: 0.03em
  color: rgba(0, 0, 0, 0.9)
  padding-bottom: 35px


.advant
  display: flex
  justify-content: space-between
  margin: 0 auto
  padding-bottom: 40px

.advant-aadvant1
  width: 270px
  height: 335px
  background: #FFFFFF
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08)
  margin-right: 30px
  position: relative

  .advant-ol
    box-sizing: border-box
    width: 120px
    height: 120px
    border: 1px solid #E0E0E0
    border-radius: 50%
    padding: 9px
    position: absolute
    top: 50px
    left: 75px

    .advant-img
      padding-bottom: 25px
      img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.advant-wrap
  padding: 195px 20px 40px 20px
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 25px
    text-align: center
    letter-spacing: 0.02em
    color: rgba(0, 0, 0, 0.75)   
    width: 230px

.Yrist 
  background: #FFFFFF
  margin-top: 30px
  padding: 40px 50px 45px 50px
  position: relative
  margin-bottom: 100px

.Yr1
  width: 70px
  height: 70px
  background: none
  border: 35px solid transparent
  border-top: 35px solid #DEC377
  border-right: 35px solid #DEC377
  top: 0
  right: 0
  position: absolute

.Yr12 
  p 
    width: 750px
    height: 75px
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 25px
    color: rgba(0, 0, 0, 0.8)


.organization
  display: flex
  justify-content: space-between

.cooperate
  width: 500px
  height: 365px
  h2 
    padding-bottom: 35px
    font-family: Commissioner
    font-style: normal
    font-weight: normal
    font-size: 28px
    line-height: 40px
    letter-spacing: 0.03em
    color: rgba(0, 0, 0, 0.9)

.cooperater
  display: flex
  justify-content: space-between
  padding-bottom: 14px

.cooperatere  
  display: flex
  justify-content: space-between

.coop
  border-radius: 50%
  border: 1px solid rgba(222, 195, 119, 0.75)
  position: relative 
  width: 70px
  height: 70px
  margin-right: 30px

.coop1
  position: absolute  
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: 800
  font-size: 22px
  line-height: 67px
  color: #DEC377
  p
    margin: 0

.coop-wrap
  p
    width: 400px 
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 25px
    display: flex
    align-items: center
    color: rgba(0, 0, 0, 0.8)   

.dok
  p
    padding-top: 19px
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 25px
    letter-spacing: 0.01em
    color: rgba(0, 0, 0, 0.8)  

form
  width: 570px
  height: 365px
  background: #FFFFFF
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05)
  border-radius: 3px


input
  border-top: 0 !important
  border-left: 0 !important
  border-right: 0 !important

.formik 
  padding: 50px 40px !important

.mary
  font-family: Commissioner
  font-style: normal
  font-weight: 500
  font-size: 13px
  line-height: 20px
  letter-spacing: 0.01em
  color: rgba(0, 0, 0, 0.5)

.form-control
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 300 !important
  font-size: 15px !important
  line-height: 25px !important
  color: rgba(0, 0, 0, 0.5) !important
  opacity: 0.6 

label
  font-family: Commissioner
  font-size: 13px
  line-height: 20px
  letter-spacing: 0.01em
  color: rgba(0, 0, 0, 0.5)

.But
  margin: 0  
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 300
  font-size: 13px
  line-height: 20px
  color: rgba(0, 0, 0, 0.5)
 
.Bss
  font-family: 'Lato' , sans-serif
  font-weight: 430
  font-size: 13px
  line-height: 20px
  color: rgba(0, 0, 0, 2.5) !important

.kons
  width: 470px !important

.btn-primary
  border-radius: 2px !important
  background: #DEC377 !important
  border-color: #DEC377 !important

.stim
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 40px
  letter-spacing: 0.03em
  color: rgba(0, 0, 0, 0.9)
  padding-top: 90px
  padding-bottom: 14px

.stims
  padding-bottom: 14px
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 300
  font-size: 15px
  line-height: 25px
  color: rgba(0, 0, 0, 0.8)

.sti
  margin-bottom: 100px

.stik
  width: 1920px
  margin-top: 0 !important
  margin-bottom: 49px  !important

.texno
  display: flex
  justify-content: space-between
  margin-bottom: 29px

.texno1
  width: 270px
  height: 60px
  h5
    font-family: Commissioner
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 30px
    color: rgba(0, 0, 0, 0.9)

.texno2
  p
    margin: 0
    padding-top: 35px
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 25px
    text-transform: uppercase
    color: rgba(0, 0, 0, 0.5)
  width: 640px
  height: 60px
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  
.texno3
  width: 170px  
  height: 60px
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 25px
    text-transform: uppercase
    color: rgba(0, 0, 0, 0.5)

  p
    margin: 0
    padding-top: 35px

.all
  display: flex
  justify-content: space-between

.all1
  margin-top: 45px  

.YNP
  display: flex
  justify-content: space-between
  width: 68px
  height: 20px
  margin-bottom: 10px

.YN
  h1
    font-family: 'Commissioner' , sans-serif
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.01em
    color: rgba(0, 0, 0, 0.5)
    padding-right: 15px

.Y
  font-family: 'Lato' , sans-serif
  font-style: normal
  font-weight: 300
  font-size: 13px
  line-height: 20px
  color: rgba(0, 0, 0, 0.5)

.rey
  display: flex
  justify-content: space-between    
  width: 207px
  margin-bottom: 52px


.iws
  display: flex
  justify-content: space-between  
  padding-bottom: 50px

.karta
  display: flex
  justify-content: space-between  
  width: 160px
  padding-bottom: 22px

.tes  
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 25px
  letter-spacing: 0.04em
  text-transform: uppercase
  color: rgba(0, 0, 0, 0.75) 
  margin-bottom: 20px
.tess
  font-family: 'Commissioner' , sans-serif
  font-weight: 500
  font-size: 13px
  line-height: 20px
  letter-spacing: 0.01em
  color: rgba(0, 0, 0, 0.75)  

.kar
  h1
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 600
    font-size: 12px
    line-height: 20px
    letter-spacing: 0.02em
    text-transform: uppercase
  margin-right: 15px

.ard
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: 500
  font-size: 13px
  line-height: 20px
  letter-spacing: 0.01em
  color: rgba(0, 0, 0, 0.75)
  padding-top: 20px

.all2
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 300
    font-size: 13px
    line-height: 20px
    color: rgba(0, 0, 0, 0.8)
    margin-bottom: 0

.ardr
  padding-top: 5px
  font-family: 'Lato'  , sans-serif
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 20px
  color: rgba(0, 0, 0, 0.8)
  padding-bottom: 25px

.all3
  p
    margin: 0

.ardd
  font-family: 'Commissioner' , sans-serif
  font-style: normal
  font-weight: 500
  font-size: 13px
  line-height: 20px
  letter-spacing: 0.01em
  color: rgba(0, 0, 0, 0.75)
  padding-top: 10px

.all4
  p
    margin: 0

.all5
  width: 170px
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 300
    font-size: 13px
    line-height: 20px
    color: rgba(0, 0, 0, 0.8)
    padding-top: 5px
    padding-bottom: 14px

.marg
  margin-bottom: 27px !important

.foot
  height: 55px
  background: rgba(0, 0, 0, 0.1)
  padding-top: 18px
  p
    font-family: 'Lato' , sans-serif
    font-style: normal
    font-weight: 300
    font-size: 12px
    line-height: 20px
    letter-spacing: 0.02em
    color: rgba(0, 0, 0, 0.8)
    text-align: center

.ybr
  display: none

.container
  max-width: 1170px !important
  margin: 0 auto  
  








@media (max-width: 1900px) 
  .ovwrap 
    left: 22em

@media (max-width: 1860px) 
  .ovwrap 
    left: 20em

@media (max-width: 1760px) 
  .ovwrap 
    left: 18em 

@media (max-width: 1720px) 
  .ovwrap 
    left: 16em  
    top: 6em     
  .za  
    left: 16em !important

  .pos
    left: 18em !important

@media (max-width: 1670px) 
  .ovwrap 
    left: 15em   
  .za  
    left: 15em !important

  .pos
    left: 17em !important  

@media (max-width: 1630px) 
  .ovwrap 
    left: 14em  
  .za  
    left: 14em !important

  .pos
    left: 16em !important    

@media (max-width: 1600px) 
  .ovwrap 
    left: 13em      
  .za  
    left: 13em !important
  .pos
    left: 15em !important        

@media (max-width: 1560px) 
  .ovwrap 
    left: 12em       
  .za  
    left: 12em !important
  .pos
    left: 14em !important

@media (max-width: 1540px) 
  .ovwrap 
    left: 11em   
    p
      padding-bottom: 20px
  .za  
    left: 11em !important
    top: 17em !important
  .pos
    left: 13em !important
    top: 17em !important

@media (max-width: 1500px) 
  .ovwrap 
    top: 5em
    left: 10em
  .za  
    left: 10em !important
  .pos
    left: 12em !important

@media (max-width: 1460px) 
  .ovwrap 
    left: 9em  
    top: 3em 
    h1
      width: 500px
      font-size: 30px
      line-height: 40px
  .za  
    left: 9em !important
    top: 11em !important
  .pos
    left: 11em !important   
    top: 11em !important   

@media (max-width: 1440px) 
  .ovwrap 
    left: 8em           
  .za  
    left: 8em !important
  .pos
    left: 10em !important    

@media (max-width: 1420px) 
  .ovwrap 
    left: 7em   
  .za  
    left: 7em !important
  .pos
    left: 9em !important    

@media (max-width: 1400px) 
  .ovwrap 
    left: 6em   
  .za  
    left: 6em !important
  .pos
    left: 8em !important 

@media (max-width: 1380px) 
  .ovwrap 
    left: 5em   
  .za  
    left: 5em !important
  .pos
    left: 7em !important               
 

@media (max-width: 1370px) 
  .ovwrap 
    top: 4em    
       

@media (max-width: 1360px) 
  .ovwrap 
    top: 5em  
    left: 6em
  .za  
    left: 6em !important
    top: 13em !important
  .pos
    left: 8em !important   
    top: 13em !important
    h1
      width: 300px
      font-size: 20px
      line-height: 30px
    p
      padding-bottom: 15px

@media (max-width: 1340px) 
  .ovwrap 
    top: 3em  
  .za  
    top: 14em !important
  .pos
    top: 14em !important    

@media (max-width: 1320px) 
  .ovwrap 
    left: 5em    
  .za  
    left: 5em !important
    top: 12em !important
  .pos
    left: 7em !important   
    top: 12em !important  

@media (max-width: 1300px) 
  .ovwrap 
    left: 4em    
  .za  
    left: 4em !important
  .pos
    left: 6em !important  

@media (max-width: 1280px) 
  .ovwrap 
    left: 3em    
  .za  
    left: 3em !important
    top: 11em !important
  .pos
    left: 5em !important   
    top: 11em !important  

  .cardi
    flex-direction: column
    align-items: center
    justify-content: center
    align-content: center
    margin-top: -3px

  .card-card1,.card-card2, .card-card3
    margin-bottom: 10px 
    margin-right: 0

  .zy
    bottom: 0px !important
    right: 0px !important
  .zx
    bottom: 0px !important  
    left: 0px !important 
            
@media (max-width: 1220px) 
  .ovwrap 
    top: 0.8em  
    left: 2em 
  .za  
    top: 10em !important
    left: 2em !important
  .pos
    top: 10em !important 
    left: 4em !important 

@media (max-width: 1200px)   
  .Blot
    flex-direction: column
    align-items: center
    justify-content: center

  .BRT 
    top: 1010px !important
    left: 128px !important

  .BRTL
    top: 1010px !important
    right: 128px !important  

  .Blouf
    margin: 0 outo
    text-align: center
    margin-top: 10px
    margin-bottom: 60px 

  .dr 
    flex-direction: column
    align-items: center
    justify-content: center

  .okaz
    text-align: center

  .proj 
    margin-left: 0     
 
@media (max-width: 1160px)
  .advan
    text-align: center

  .advant
    flex-direction: column
    align-items: center
    justify-content: center 

  .advant-aadvant1
    margin-right: 0  
    margin-bottom: 10px

@media (max-width: 1140px) 
  .BUr
    img
      height: 100%

  .DDS  
    flex-direction: column
    align-items: center
    justify-content: center  

  .scroll
    text-align: center

  .SErvscrol
    width: 670px
    margin-bottom: 10px   
    margin-left: -96px

  .SErvscr
    margin-bottom: 10px  

  .SErvscry
    width: 670px
    margin-left: -97px
    margin-top: 10px 

  .Yr
    flex-direction: column
    align-items: center  

  .Yr-wrap
    text-align: center

  .Yr-but
    margin-bottom: 10px    

  .Davi
    flex-direction: column
    align-items: center
    justify-content: center

  .advantage 
    padding-top: 30px  

@media (max-width: 1120px)   
  .ovwrap 
    top: 0.5em 

  .navbar.navbar-light.light-blue.lighten-4
    display: block
    margin: 0 auto

  .navigation
    display: none 

@media (max-width: 1010px)
  .detu-wrap
    flex-direction: column
    align-items: center
    justify-content: center
  .Bus
    margin-top: 10px
    display: inline !important
  .BU  
    margin: 0 auto !important
  .busS
    padding-top: 10px
    text-align: center
    width: 430px 

  .busS-im
    width: 113%  

  .found
    text-align: center
    margin-top: 10px

  .detail
    margin-bottom: 10px

  .gr-blo
   display: flex
   align-items: center
   flex-direction: column     

  .Dtru
    margin: 0 auto
    text-align: center
    margin-top: 10px
    margin-bottom: 15px

  .wrap-D
    text-align: center
    padding: 10px

  .BUr
    margin: 0 auto !important  
    padding-left: 0 !important

  .otz
    text-align: center  

@media (max-width: 1000px) 
  .ovwrap 
    top: 0.4em  
    left: 2em 
    h1
      font-size: 15px
      line-height: 20px
      font-weight: bold
      padding-bottom: 5px
    p
      padding-bottom: 5px 
  .za  
    top: 5em !important
    left: 2em !important
  .pos
    top: 5em !important 
    left: 4em !important         

  .prakt
    p 
      width: 100%

  .col-md-5
    justify-content: center
    display: flex

  .col-md-2
    justify-content: center
    display: flex
    margin-top: 5px

  .col-md-4
    text-align: center
    margin-bottom: 10px  

  .MKtehno
    margin-top: 5px  

  .za  
    top: 11em !important
    left: 2em !important
  .pos
    top: 11em !important 
    left: 4em !important   

  .logot  
    flex-direction: column
    align-items: center

  .prakt
    height: 100%
 
  .scroll
    text-align: center

  .re
    padding-right: 30px

  .GRresult 
    flex-direction: column

  .DDS
    flex-direction: column !important
    align-items: center

  .SErvscrol  
    margin-bottom: 10px

  .regin 
    padding-right: 10px  

  .Yr12
    p
      width: 100%  

  .Davi
    .col-md-5
      flex-direction: column !important
      align-items: center !important
      justify-content: center !important  
      
  .organization
    flex-direction: column
    align-items: center
    justify-content: center

  .dok
    p
      text-align: center  

  .formik
    margin-top: 25px     
    
  .stim
    text-align: center
    margin-left: 15px  

  .STimm
    align-items: center
    justify-content: center

  .stims
    text-align: center
    margin-left: 15px  

  .stiKrt
    margin: 0 auto
    text-align: center
    margin-top: 10px
    margin-bottom: 15px

  .texno
    margin-left: 25px

  .all
    margin-left: 25px  

  .all1   
    margin-right: 10px

  .str
    margin-left: -76px
    margin-top: -6px  

@media (max-width: 950px) 
  .SErvscroll
    width: 100%

  .reginn 
    padding-left: 320px

  .regi
    padding-bottom: 10px  

  .reginy
    padding-left: 320px

  .regin15
    padding-left: 320px 
  
  .regii
    padding-bottom: 3px

  .SErvscr
    width: 100%

  .SErvscrt
    width: 100%

@media (max-width: 880px) 
  .regin
    padding-right: 150px

@media (max-width: 830px) 
  .Yr-wrap 
    p 
      width: 500px
      margin-bottom: 94px

  .reginy
    padding-left: 170px    


@media (max-width: 780px) 
  .prakt
    p
      width: 550px
  
  .serw
    display: flex !important
    align-items: center !important
    justify-content: center !important
  .SErvscrol
    margin-left: 0
    width: 100%

  .SErvscry
    margin-left: 0
    width: 100%

  .regin
    padding-left: 100px  

  .regi
    padding-bottom: 0
    padding-top: 5px
    font-size: 18px
    line-height: 20px
    padding-left: 75px  

  .texno2
    width: 515px  

  .texno3 
    width: 145px
    p
      width: 100px

@media (max-width: 770px) 
  .busS 
    width: 100%
  .busS-tex
    width: 100%
    text-align: center

  .disi
    display: flex !important
    justify-content: center !important
    align-items: center !important
    width: 80% !important

  .serw
    width: 80% !important 

  
@media (max-width: 760px) 
  .texno3 
    width: 115px

  .texno2
    width: 400px

@media (max-width: 740px)   
  .texno3 
    width: 90px

@media (max-width: 730px)   
  .texno3 
    width: 70px 

@media (max-width: 710px)   
  .texno3 
    width: 50px      



@media (max-width: 700px) 
  .za  
    top: -6em !important
    left: 20em !important
  .pos
    top: -6em !important 
    left: 22em !important   
  .ovwrap 
    p
      width: 250px  
      margin-bottom: 2px  
      font-size: 10px
      line-height: 13px
    h1
      width: 200px  
      font-size: 12px
    button
      width: 115px
      height: 26px  
      line-height: 25px !important

@media (max-width: 695px)   
  .texno3 
    width: 35px    

@media (max-width: 675px)   
  .texno3 
    width: 15px    

@media (max-width: 650px)   
  .texno3 
    width: 0px  
    p 
      width: 100%
  .texno2
    width: 150px       

@media (max-width: 635px)    
  .texno
    flex-direction: column
    align-items: center
  .all 
    flex-direction: column 
    align-items: center

  .ybr
    display: block

  .texno3  
    display: none   

  .frame
    width: 100%
  form
    width: 450px !important
    margin-left: 50px

  .kons
    width: 360px !important  

  .Daaavs
    text-align: center  

  .prakt 
    p
      width: 450px  

@media (max-width: 600px) 
  .Blot     
    width: 100%

  .bloc 
    width: 400px
    height: 670px 

  .ders 
    img
      width: 100% 

  .BRT
    top: 1140px !important

  .BRTL
    top: 1140px  !important

  .regin362
    padding-left: 150px  
    padding-top: 10px

  .reginn
    padding-left: 150px
    padding-top: 20px  

  .regin15 
    padding-left: 150px

@media (max-width: 550px) 
  .Yr12 p
    line-height: 20px
    font-size: 15px

@media (max-width: 530px)  
  .busS-tex
    width: 100%
    margin-left: 0
  .busS
    width: 100%
  .detail
    width: 280px
  .det-wrap
    padding-bottom: 0

@media (max-width: 520px) 
  .Yr-wrap p
    width: 350px
    margin-bottom: 170px

  .prakt 
    p
      width: 300px    
      padding-bottom: 180px

  .Blot     
    width: 100%
    
@media (max-width: 490px)      
  .busS-tex
    width: 350px
    text-align: center
    margin-left: 0

  .DEta
    margin-bottom: 10px  

@media (max-width: 470px)
  .GRinter
    display: flex
    flex-direction: column
    align-items: center

  .regii
    line-height: 20px

  .brok 
    width: 285px
    margin-bottom: 19px

  .brokkrug 
    margin-right: 10px   

  .Daaavs 
    width: 350px   

@media (max-width: 430px) 
  .bloc 
    width: 350px
    height: 750px 

  .BRT
    top: 1310px !important

  .BRTL
    top: 1310px  !important  

  .regii
    padding-top: 5px
    font-size: 18px

@media (max-width: 400px) 
  .namber span
    font-size: 11px
  .za  
    top: -6em !important
    left: 12em !important
  .pos
    top: -6em !important 
    left: 13.5em !important 
  .ovwrap 
    p
      width: 200px  
    .card-card1 
    width: 200px
    height: 150px   
    .cardf-ol
      top: 45px
      left: 70px
      width: 60px
      height: 60px 
    .card-wrap
      padding-top: 100px  
  .busS-im
    width: 100%    

@media (max-width: 380px)     
  .ovwrap 
    h1
      line-height: 13px
      padding-bottom: 0px

@media (max-width: 360px) 
  .Fon 
    .otz 
      font-size: 23px
      padding-top: 150px    

  .Daaavs 
    width: 250px

  .Daaav
    font-size: 26px
      