<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="css/style.css")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Commissioner:wght@100;400;500&family=Lato:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap' rel='stylesheet')
    title Main Page

  body

    header
      .container
        .row
          .col-5
            span Язык
              a(class="nav-link1 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") русский
                div(class="dropdown-menu")
                  a(class="dropdown-item" href="#") английский
          .col-2
            i.fas.fa-eye
          .col-5
            div(class="namber")
              span +375 (44) 755-01-01
              img(src="images/A1.svg", alt="A1")
              img(src="images/Vector.svg", alt="A1")
              img(src="images/Vector2.svg", alt="message")
              span(class="num") +375 (29) 550-01-01
              img(class="egg" src="images/Subtract1.svg", alt="mts")

      div(class="MKtehno")
        .container
          .row(class="TEH")
            .col-4
              div(class="nav-tehno")
                div(class="tehno")
                  img(src="images/Group.svg", alt="message")
            .col-8 
              nav(class="navigation")
                a(class="navigation-item" href="#") ГЛАВНАЯ
                a(class="navigation-item" href="#") О НАС
                a(class="navigation-item" href="#") УСЛУГИ
                a(class="navigation-item" href="#") ТАРИФЫ
                a(class="navigation-item" href="#") ИНФОЦЕНТР
                a(class="navigation-item" href="#") КОНТАКТЫ
                div(class="ikon")
                  i.fal.fa-search

    main
      section(class="Debit")
        #carouselExampleInterval.carousel.slide(data-ride='carousel')
          .carousel-inner
            .carousel-item.active(data-interval='1000')
              .slide-content
                .img-wrap
                  img.d-block(src='images/Rectangle 1.png',width='100%', height='100%', alt='фото')
                .ovwrap
                  h1 Взыскание дебиторской задолженности
                  p Индивидуальный подход и нацеленность на достижение результата
                  button ПОДРОБНЕЕ
            .carousel-item(data-interval='2000')
              .slide-content
                .img-wrap
                  img.d-block(src='images/Rectangle 125 (1).png',width='100%', alt='фото')
                .ovwrap
                  h1 Ликвидация предприятия
                  p Эффективное решение сложных задач
                  button ПОДРОБНЕЕ            
            .carousel-item(data-interval='2000')
              .slide-content
                .img-wrap
                  img.d-block(src='images/Rectangle 125 (2).png',width='100%', alt='фото')
                .ovwrap
                  h1 Юридическая консультация
                  p Детальные разъяснения вопросов по ведению бизнеса от <br> профессионалов
                  button ПОДРОБНЕЕ

            .carousel-item(data-interval='2000')
              .slide-content
                .img-wrap
                  img.d-block(src='images/Rectangle 125 (3).png',width='100%', alt='фото')
                .ovwrap
                  h1 Юридический аутсорсинг
                  p Гарантия своевременности и качества услуг
                  button ПОДРОБНЕЕ     

            .carousel-item
              .slide-content
                .img-wrap
                  img.d-block(src='images/Rectangle 125 (4).png',width='100%', alt='фото')
                .ovwrap
                  h1 Регистрация ООО
                  p Гарантируем минимальные сроки регистрации под ключ 
                  button ПОДРОБНЕЕ      

          a.carousel-control-prev.za(href='#carouselExampleInterval', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous

          a.carousel-control-next.pos(href='#carouselExampleInterval', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

        .section(class="CBuss")
          div(class="cardi")
            div(class="card-card1")
              div(class="cardf-ol")
                div(class="card-img")
                  img(src="images/Иконка-карточка.svg", alt="иконка")
              div(class="card-wrap")
                p Надежная защита 

            div(class="card-card2")
              div(class="cardf-olg")
                div(class="card-imge")
                  img(src="images/Иконка-карточка (1).svg", alt="иконка")
              div(class="card-wrape")
                p Безупречная репутация

            div(class="card-card3")
              div(class="cardf-olT")
                div(class="card-imgT")
                  img(src="images/Иконка-карточка (2).svg", alt="иконка")
              div(class="card-wrapT")
                p Надежная защита 

            div(class="card-card4")    
              div(class="cardZ-olZ")
                div(class="cardZ-imgZ")
                  img(src="images/Иконка-карточка (4).svg", alt="иконка")
              div(class="card-wrapZ")
                p Абсолютная конфиденциальность

          div(class="busines")
            .container(class="bussin")
              .row(class="Bus")
                .col-md-6.BU
                  h1(class="busS") Юридическое сопровождение бизнеса от «МК-Правовые технологии»
                  p(class="busS-tex") Главный принцип нашей работы - качество. Постоянно следовать ему помогает сплоченная команда талантливых и энергичных сотрудников, способных сообща заниматься сложными проектами, никогда не допуская сбоев в работе. <br> <br> Мы обеспечиваем максимальный уровень профессионального обслуживания, который можно ожидать от крупной юридической фирмы.<br> <br> Нашу фирму отличают яркая индивидуальность и следование модели эффективного юридического обслуживания. Благодаря профессиональной гибкости мы находим творческие решения как обычных вопросов, так и неординарных проблем, возникающих у наших клиентов. <br> <br> Все наши рекомендации основаны на глубоких академических знаниях и опыте практического применения в хозяйственном праве.
                .col-md-5.BUr
                  img(class="busS-im" src="images/Rectangle 141.png", alt="картинка")

      .container
        h1(class="found") Основные направления деятельности

      section(class="grid-line")
        .container
          div(class="gr-blo")
            div(class="detail")
              div(class="det")
                h5(class="det-wrap") Взыскание долгов
                a(class="det-wr" href="#") ПОДРОБНЕЕ
              div(class="deta")
                img(class="de-im" src="images/dept-money.svg", alt="картинка")

            div(class="detail")
              div(class="det")
                h5(class="det-wrap") Реорганизация бизнеса
                a(class="det-wr" href="#") ПОДРОБНЕЕ
              div(class="deta")
                img(class="de-im" src="images/Vector-2.svg", alt="картинка")
            
            div(class="detail")
              div(class="det")
                h5(class="det-wrap") Продажа бизнеса
                a(class="det-wr" href="#") ПОДРОБНЕЕ
              div(class="deta")
                img(class="de-im" src="images/Group-3.svg", alt="картинка")

            div(class="detail")
              div(class="det")
                h5(class="det-wrapr") Юридические консультации
                a(class="det-wr" href="#") ПОДРОБНЕЕ
              div(class="deta")
                img(class="de-im" src="images/Union-4.svg", alt="картинка")

            div(class="detail")
              div(class="det")
                h5(class="det-wrapr") Ликвидация организаций
                a(class="det-wr" href="#") ПОДРОБНЕЕ
              div(class="deta")
                img(class="de-im" src="images/Group-5.svg", alt="картинка")

            div(class="detail")
              div(class="det")
                h5(class="det-wrapr") Разработка <br> договоров
                a(class="det-wr" href="#") ПОДРОБНЕЕ
              div(class="deta")
                img(class="de-im" src="images/Group-6.svg", alt="картинка")

            div(class="detail")
              div(class="det")
                h5(class="det-wrapr") Регистрация бизнеса
                a(class="det-wr" href="#") ПОДРОБНЕЕ
              div(class="deta")
                img(class="de-im" src="images/stamp-7.svg", alt="картинка")

            div(class="detail")
              div(class="det")
                h5(class="det-wrapr") Юридический аутсорсинг
                a(class="det-wr" href="#") ПОДРОБНЕЕ
              div(class="deta")
                img(class="de-im" src="images/Group -8.svg", alt="картинка")

            div(class="detail") 
              div(class="det")
                h5(class="det-wrapr") Аттестация в строительстве
                a(class="det-wr" href="#") ПОДРОБНЕЕ
              div(class="deta")
                img(class="de-im" src="images/Dollar.svg", alt="картинка")       
          button(class="DEta") Все услуги

        .container
         .row(class="detu-wrap")
          .col-4
            h2(class="wrap--a") Основные направления деятельности
          .col-8
            p(class="wrap-D") Основной принцип нашей работы – максимальная открытость и доверительные отношения с каждым клиентом, с тем чтобы от начала и до конца совместной работы, не возникало никакого недопонимания. Мы ставим целью не только привлечение новых клиентов, но и поддержание длительных партнерских отношений с клиентами, которые уже воспользовались нашими услугами.<br> <br> Быстрота анализа и профессиональных действий наших юристов обеспечивают успешное решение, казалось бы, неразрешимых вопросов. Богатые знания и солидный опыт позволяют нам оказывать комплексную правовую помощь в ситуациях любой сложности.

        section(class="imagKar")
          .container
            #carouselExampleControls.carousel.slide(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='images/Rectangle 107 (1).png' alt='картинка')
                .carousel-item
                  img.d-block.w-100(src='images/Rectangle 107 (2).png' alt='картинка')
                .carousel-item
                  img.d-block.w-100(src='images/Rectangle 108.png' alt='картинка')
                .carousel-item
                  img.d-block.w-100(src='images/Rectangle 109.png' alt='картинка')  
              a.carousel-control-prev.zx(href='#carouselExampleControls' role='button' data-slide='prev')
                span.carousel-control-prev-icon.zleft(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next.zy(href='#carouselExampleControls' role='button' data-slide='next')
                span.carousel-control-next-icon.zright(aria-hidden='true')
                span.sr-only Next

        section(class="Fon")  
          .container
            h2(class="otz") Отзывы наших партнеров

            #carouselExampleCaptions.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
                li(data-target='#carouselExampleCaptions' data-slide-to='1')
                li(data-target='#carouselExampleCaptions' data-slide-to='2')
              .carousel-inner
                .carousel-item.active
                  div(class="Blot")
                    div(class="bloc bloc1")
                      .container
                        .row(class="der")
                          .col-12
                            img(src="images/fot.png", alt="картинка")
                            div(class="Dwrap")
                              p(class="derwwr") директор
                              h3(class="derwwra") С.В. Косачев
                              p(class="derw-wrapper") Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...
                              a(href="#") ЧИТАТЬ ДАЛЕЕ
                    div(class="bloc bloc2")
                      .container
                        .row(class="der")
                          .col-12
                            img(src="images/fot.png", alt="картинка")
                            div(class="Dwrap")
                              p(class="derwwr") глава представительства
                              h3(class="derwwra") Валерий Мяснянкин
                              p(class="derw-wrapper") Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...
                              a(href="#") ЧИТАТЬ ДАЛЕЕ
                  button(class="Blotbut") ВСЕ ОТЗЫВЫ          
                .carousel-item
                  div(class="Blot")
                    div(class="bloc bloc1")
                      .container
                        .row(class="der")
                          .col-12
                            img(src="images/fot.png", alt="картинка")
                            div(class="Dwrap")
                              p(class="derwwr") директор
                              h3(class="derwwra") С.В. Косачев
                              p(class="derw-wrapper") Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...
                              a(href="#") ЧИТАТЬ ДАЛЕЕ
                    div(class="bloc bloc2")
                      .container
                        .row(class="der")
                          .col-12
                            img(src="images/fot.png", alt="картинка")
                            div(class="Dwrap")
                              p(class="derwwr") глава представительства
                              h3(class="derwwra") Валерий Мяснянкин
                              p(class="derw-wrapper") Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...
                              a(href="#") ЧИТАТЬ ДАЛЕЕ
                  button(class="Blotbut") ВСЕ ОТЗЫВЫ       
                .carousel-item
                  div(class="Blot")
                    div(class="bloc bloc1")
                      .container
                        .row(class="der")
                          .col-12
                            img(src="images/fot.png", alt="картинка")
                            div(class="Dwrap")
                              p(class="derwwr") директор
                              h3(class="derwwra") С.В. Косачев
                              p(class="derw-wrapper") Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...
                              a(href="#") ЧИТАТЬ ДАЛЕЕ
                    div(class="bloc bloc2")
                      .container
                        .row(class="der")
                          .col-12
                            img(src="images/fot.png", alt="картинка")
                            div(class="Dwrap")
                              p(class="derwwr") глава представительства
                              h3(class="derwwra") Валерий Мяснянкин
                              p(class="derw-wrapper") Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...
                              a(href="#") ЧИТАТЬ ДАЛЕЕ
                  button(class="Blotbut") ВСЕ ОТЗЫВЫ       
              a.carousel-control-prev.BRT(href='#carouselExampleCaptions' role='button' data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next.BRTL(href='#carouselExampleCaptions' role='button' data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
            .container
              .row(class="dr")
                .col-7
                  p(class="okaz") Оказываем юридические услуги юридическим лицам и индивидуальным предпринимателям. Специализируемся в области хозяйственного права, работаем на всей территории Республики Беларусь, а также за ее пределами, с бизнесом любого масштаба.
                button(class="proj") НАШИ ПАРТНЕРЫ   
              div(class="logot")
                div(class="logo-logo1")
                  img(src="images/logo1.png", alt="logotyp")
                div(class="logo-logo2")
                  img(src="images/titan_logo 1.png", alt="logotyp")
                div(class="logo-logo3")
                  img(src="images/logo2.png", alt="logotyp")
                div(class="logo-logo4")
                  img(src="images/logo3.png", alt="logotyp")
                div(class="logo-logo5")
                  img(src="images/logo4.png", alt="logotyp")

        section(class="Interes") 
          .container
            div(class="GRinter")
              div(class="GRsimple")
                div(class="ob")
                  h4 Просто объясним сложные вещи
                  p В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.

              div(class="GRprava")
                div(class="ob")
                  h4 Надежно защитим права и интересы
                  p Заказав комплексные юридические услуги в ООО «МК-Правовые технологии», можно больше не платить зарплату штатному юристу, страховые отчисления и налоги с его доходов. Можно не оплачивать отпуск, больничные и не беспокоиться о нахождении работника на рабочем месте в нужный момент.
                div(class="GRprava-gyt")  

            div(class="GRresult")
              div(class="re")
                h4 Вы платите только за результат!
              div(class="prakt")
                p В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.

        div(class="imgKart")
          img(src="images/Rectangle 114.png", alt="картинка")

        section(class="servis")
          .container
            div(class="scroll")
              h2 Перечень оказываемых услуг
          .container    
            div(class="DWQ")
              .row
                .col-md-5    
                  div(class="SErvscrol")
                    div(class="corol")
                    p(class="regi") Регистрации ИП и юрлиц
                    a(class="regin" href="#") ПОДРОБНЕЕ
                .col-md-7
                  div(class="SErvscroll")
                    div(class="coroll")
                    p(class="regi") Ликвидация, реорганизация и продажа бизнеса
                    a(class="reginn" href="#") ПОДРОБНЕЕ
            div(class="DWD")
              .row
                .col-md-6    
                  div(class="SErvscr")
                    div(class="corol2")
                    p(class="regi") Взыскание дебиторской задолженности
                    a(class="reginy" href="#") ПОДРОБНЕЕ
                .col-md-6
                  div(class="SErvscr")
                    div(class="coroll2")   
                    p(class="regi") Письменные и устные консультации
                    a(class="reginy" href="#") ПОДРОБНЕЕ     

            div(class="DWW")
              .row
                .col-md-7    
                  div(class="SErvscrt")
                    div(class="corol21")
                    p(class="regii") Разработка уставных документов и внесение <br> изменений в них
                    a(class="regin15" href="#") ПОДРОБНЕЕ
                .col-md-5
                  div(class="SErvscry")
                    div(class="coroll21")   
                    p(class="regi") Ведение переговоров
                    a(class="regin362" href="#") ПОДРОБНЕЕ  

            div(class="DWC")
              .row
                .col-md-6    
                  div(class="SErvscr")
                    div(class="corol2")
                    p(class="regi") Комплексное сопровождение бизнеса
                    a(class="reginy" href="#") ПОДРОБНЕЕ
                .col-md-6
                  div(class="SErvscr")
                    div(class="coroll2")   
                    p(class="regi") Сопровождение деловых сделок
                    a(class="reginy" href="#") ПОДРОБНЕЕ

            div(class="DWt")
              .row
                .col-md-5    
                  div(class="SErvscrol")
                    div(class="corol")
                    p(class="regi") Лицензирование бизнеса
                    a(class="regin362" href="#") ПОДРОБНЕЕ
                .col-md-7
                  div(class="SErvscroll")
                    div(class="coroll") 
                    p(class="regi") Решение правовых споров
                    a(class="reginn" href="#") ПОДРОБНЕЕ        

            div(class="Yr")   
              div(class="Yr-wrap")   
                p Оказание юридических услуг юридическим лицам и индивидуальным предпринимателям – наша работа. Среди собственников бизнеса принято считать, что прочитать закон в Интернете и применить его на практике - это одно и тоже. Основываясь на этом убеждении, они часто отказываются от профессиональной помощи. Практика же показывает, что только опытный юрист может правильно разобраться в правовых тонкостях, своевременно предотвратить ложные шаги и ускорить получение результата.
              div(class="Yr-but")     
                button ВСЕ УСЛУГИ 

      section(class="DAV")
        .container
          .row
            .col-md-5
              h2 Почему нам доверяют
              p Прозрачность и открытость для клиентов – наш принцип, который с самого начала исключает любые недопонимания. Мы тщательно продумали работу каждого юриста внутри коллектива, что обеспечивает высокое качество юридических услуг компании.
            .offset-md-1 
            .col-md-5
              div(class="brok")
                div(class="brokkrug")
                  div(class="brokt")
                div(class="tert")
                  p(class="tertwap") безупречная репутация

              div(class="brok")
                div(class="brokkrug")
                  div(class="brokt")
                div(class="tert")
                  p(class="tertwap") абсолютная конфиденциальность 

              div(class="brok")
                div(class="brokkrug")
                  div(class="brokt")
                div(class="tert")
                  p(class="tertwap") внимание к каждому клиенту

              div(class="brok")
                div(class="brokkrug")
                  div(class="brokt")
                div(class="tert")
                  p(class="tertwap") успешный опыт решения нестандартных вопросов     

        hr   

        .container
          .row
            .col-md-5
              h2 Что получает клиент
              p Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.
            .offset-md-1 
            .col-md-5
              div(class="brok")
                div(class="brokkrug")
                  div(class="brokt")
                div(class="tert")
                  p(class="tertwap") надежная защита бизнеса

              div(class="brok")
                div(class="brokkrug")
                  div(class="brokt")
                div(class="tert")
                  p(class="tertwap") актуальная правовая помощь

              div(class="brok")
                div(class="brokkrug")
                  div(class="brokt")
                div(class="tert")
                  p(class="tertwap") своевременная оценка рисков

              div(class="brok")
                div(class="brokkrug")
                  div(class="brokt")
                div(class="tert")
                  p(class="tertwap") компетентное решение правовых вопросов             

      section(class="advantage")  
        .container
          h2(class="advan") Наши преимущества   
          div(class="advant")
            div(class="advant-aadvant1")
              div(class="advant-ol")
                div(class="advant-img")
                  img(src="images/Group11.svg", alt="иконка")
              div(class="advant-wrap")
                p Лицензия на оказание юридических услуг

            div(class="advant-aadvant1")
              div(class="advant-ol")
                div(class="advant-img")
                  img(src="images/ikon 12.svg", alt="иконка")
              div(class="advant-wrap")
                p Опытные сотрудники

            div(class="advant-aadvant1")
              div(class="advant-ol")
                div(class="advant-img")
                  img(src="images/ikon 13.svg", alt="иконка")
              div(class="advant-wrap")
                p Коммуникативные навыки – без труда открываем любые двери и быстро решаем нужные вопросы

            div(class="advant-aadvant1")
              div(class="advant-ol")
                div(class="advant-img")
                  img(src="images/Group14.svg", alt="иконка")
              div(class="advant-wrap")
                p Скрупулезный поход к ведению документации

          div(class="Yrist")
            div(class="Yr1")
            div(class="Yr12")
              p Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.

          div(class="organization")  
            div(class="cooperate")
              h2 Организация сотрудничества
              div(class="cooperater")  
                div(class="coop")
                  div(class="coop1")
                    p 1
                div(class="coop-wrap")  
                  p Установив контакт с нашим сотрудником, Вы оговорите нюансы предмета обсуждения и согласуете личную встречу.
              div(class="cooperatere") 
                div(class="coop")
                  div(class="coop1")
                    p 2
                div(class="coop-wrap")  
                  p Юрист изучит документы, необходимые для разработки стратегии решения возникшей ситуации. И заключит договор.
              div(class="dok")     
                 p Также в нашей компании возможна удаленная форма обслуживания с оказанием полного комплекса юридических услуг в РБ через современные средства связи и мессенджеры.      
           
            div(class="frame")  
              form
                div(class="formik")
                  .form-group
                    label(for='mary') Ваше имя
                    input#mary.form-control(type='email' aria-describedby='emailHelp' placeholder='Ваше имя')
                  .form-group
                    label(for='exampleInputPassword1') Телефон для связи
                    input#exampleInputPassword1.form-control(type='password' placeholder='+375 (XX) XXX-XX-XX')
                  .form-group
                    p(class="But") Нажимая на кнопку «Получить консультацию», вы соглашаетесь с условиями
                    a(class="Bss" href="#") Политики конфиденциальности
                  button.kons.btn.btn-primary(type='submit') ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ


 






    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')

          
                   

