<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="css/style.css")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Commissioner:wght@100;400;500&family=Lato:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap' rel='stylesheet')
    title Main Page

  body

    header
      .container
        .row
          .col-5
            span Язык
              a(class="nav-link1 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") русский
                div(class="dropdown-menu")
                  a(class="dropdown-item" href="#") английский
          .col-2
            i.fas.fa-eye
          .col-5
            div(class="namber")
              span +375 (44) 755-01-01
              img(src="images/A1.svg", alt="A1")
              img(src="images/Vector.svg", alt="A1")
              img(src="images/Vector2.svg", alt="message")
              span(class="num") +375 (29) 550-01-01
              img(class="egg" src="images/Subtract1.svg", alt="mts")

      div(class="MKtehno")
        .container
          .row(class="TEH")
            .col-4
              div(class="nav-tehno")
                div(class="tehno")
                  img(src="images/Group.svg", alt="message")
            .col-8 
              nav(class="navigation")
                a(class="navigation-item" href="#") ГЛАВНАЯ
                a(class="navigation-item" href="#") О НАС
                a(class="navigation-item" href="#") УСЛУГИ
                a(class="navigation-item" href="#") ТАРИФЫ
                a(class="navigation-item" href="#") ИНФОЦЕНТР
                a(class="navigation-item" href="#") КОНТАКТЫ
                div(class="ikon")
                  i.fal.fa-search

    main
      #carouselExampleInterval.carousel.slide(data-ride='carousel')
        .carousel-inner
          .carousel-item.active(data-interval='1000')
            .slide-content
              .img-wrap
                img.d-block(src='images/Rectangle 1.png', alt='фото')
              .ovwrap
                h1 Взыскание дебиторской задолженности
                p Индивидуальный подход и нацеленность на достижение результата
                button ПОДРОБНЕЕ
          .carousel-item(data-interval='2000')
            .slide-content
              .img-wrap
                img.d-block(src='images/Rectangle 125 (1).png', alt='фото')
              .ovwrap
                h1 Ликвидация предприятия
                p Эффективное решение сложных задач
                button ПОДРОБНЕЕ            
          .carousel-item(data-interval='2000')
            .slide-content
              .img-wrap
                img.d-block(src='images/Rectangle 125 (2).png', alt='фото')
              .ovwrap
                h1 Юридическая консультация
                p Детальные разъяснения вопросов по ведению бизнеса от <br> профессионалов
                button ПОДРОБНЕЕ

          .carousel-item(data-interval='2000')
            .slide-content
              .img-wrap
                img.d-block(src='images/Rectangle 125 (3).png', alt='фото')
              .ovwrap
                h1 Юридический аутсорсинг
                p Гарантия своевременности и качества услуг
                button ПОДРОБНЕЕ     

          .carousel-item
            .slide-content
              .img-wrap
                img.d-block(src='images/Rectangle 125 (4).png', alt='фото')
              .ovwrap
                h1 Регистрация ООО
                p Гарантируем минимальные сроки регистрации под ключ 
                button ПОДРОБНЕЕ      

        a.carousel-control-prev(href='#carouselExampleInterval', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous

        a.carousel-control-next(href='#carouselExampleInterval', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

      div(class="cardi")
        div(class="card-card1")
          div(class="cardf-ol")
            div(class="card-img")
              img(src="images/Иконка-карточка.svg", alt="иконка")
          div(class="card-wrap")
            p Надежная защита 

        div(class="card-card2")
          div(class="cardf-olg")
            div(class="card-imge")
              img(src="images/Иконка-карточка (1).svg", alt="иконка")
          div(class="card-wrape")
            p Безупречная репутация

        div(class="card-card3")
          div(class="cardf-olT")
            div(class="card-imgT")
              img(src="images/Иконка-карточка (2).svg", alt="иконка")
          div(class="card-wrapT")
            p Надежная защита 

        div(class="card-card4")    
          div(class="cardZ-olZ")
            div(class="cardZ-imgZ")
              img(src="images/Иконка-карточка (4).svg", alt="иконка")
          div(class="card-wrapZ")
            p Абсолютная конфиденциальность



   
        

      
              
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')

          
                   

